In [3]:
import csv
import torch
import pandas as pd

In [2]:
Data_path = "Tutors.csv"

In [4]:
!Pip3 install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /Users/linkedin/Library/Python/3.9/lib/python/site-packages (2.3.2)
Requirement already satisfied: numpy>=1.22.4 in /Users/linkedin/Library/Python/3.9/lib/python/site-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/linkedin/Library/Python/3.9/lib/python/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/linkedin/Library/Python/3.9/lib/python/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /Users/linkedin/Library/Python/3.9/lib/python/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas) (1.15.0)

In [5]:
df = pd.read_csv(Data_path,nrows=50)

In [6]:
display(df)

,FirstName,LastName,Email,Phone,Gender,SubjectArea,YearsExperience,AgeGroup
0,Alice,Johnson,alice.johnson@example.com,555-123-4567,Female,Math,5,12-18
1,Brian,Smith,brian.smith@example.com,555-234-5678,Male,Science,8,5-18
2,Catherine,Brown,catherine.brown@example.com,555-345-6789,Female,English,3,5-12
3,David,Miller,david.miller@example.com,555-456-7890,Male,History,10,5-18
4,Ella,Davis,ella.davis@example.com,555-567-8901,Female,Computer Science,6,5-12
5,Frank,Wilson,frank.wilson@example.com,555-678-9012,Male,Biology,7,12-18
6,Grace,Taylor,grace.taylor@example.com,555-789-0123,Female,Physics,4,5-18
7,Henry,Clark,henry.clark@example.com,555-890-1234,Male,Chemistry,12,5-12
8,Isabella,Lopez,isabella.lopez@example.com,555-901-2345,Female,Art,2,5-18
9,Jack,Anderson,jack.anderson@example.com,555-012-3456,Male,Economics,9,12-18

In [11]:
import torch.utils.data as data_utils
pd.to_numeric(df["YearsExperience"])
sessions_df = pd.DataFrame(df['YearsExperience'])
train_tensor = torch.tensor(sessions_df['YearsExperience'].values)
print(train_tensor)

tensor([ 5,  8,  3, 10,  6,  7,  4, 12,  2,  9])